#### Node-specific ####
# dependencies
**/node_modules
node_modules/
package-lock.json
/.pnp
.pnp.js

#### Testing ####
coverage/

#### Production ####
build/
dist
dist-ssr

#### Docker ####
docker-compose.override.yml
-docker-compose.override.yml

#### Editor ####
.vscode/*
!.vscode/extensions.json
.vs
.DS_Store

#### env files ####
*.env
.env
*.local

### Logs ###
logs
*.log
npm-debug.log*
