####  ####
# Node-specific Dependencies
**/node_modules
node_modules/
/.pnp
.pnp.js

#### Testing ####
coverage/

#### Production ####
build/
dist/


#### Docker ####
docker-compose.override.yml
-docker-compose.override.yml

#### Editor ####
**/.vscode/*
!.vscode/extensions.json
.vs
.DS_Store

#### Environment Files ####
*.env
.env
*.local

### Kong Config files ###
gw-config*.yaml

### Logs ###
*.log
npm-debug.log*
