# APPLICATION INFORMATION
# Name of Applicaiton
APPLICATION_NAME=

# BACKEND ENVIRONMENT
# Expressjs server port
BACKEND_PORT=

# MongoDB Variables
MONGO_IMAGE_TAG=
MONGO_EXTERNAL_PORT=
MONGO_SERVICE_NAME=
MONGO_USER=
MONGO_PASSWORD=

# FRONTEND ENVIRONMENT
FRONTEND_PORT=
