# APPLICATION INFORMATION
# Name of Applicaiton
APPLICATION_NAME=

#Service Accounts
COPY_USER=
COPY_PASSWORD=
DEV_USER=
DEV_PASSWORD=
TEST_USER=
TEST_PASSWORD=
PROD_USER=
PROD_PASSWORD=

#BCGW Environment Connection 
BCGW_COPY_STRING=
BCGW_DEV_STRING=
BCGW_TEST_STRING=
BCGW_PROD_STRING=

#Oracle Client Path
ORACLE_CLIENT_LOCAL_PATH=

# BACKEND ENVIRONMENT
# Expressjs server port
BACKEND_PORT=
#CORS allowed address
CORS_ORIGIN=

# MongoDB Variables
MONGO_IMAGE_TAG=
MONGO_EXTERNAL_PORT=
MONGO_SERVICE_NAME=
MONGO_ROOT_USER= #Use it only on local dev environment
MONGO_ROOT_PASSWORD= #Use it only on local dev environment
MONGO_USER=
MONGO_PASSWORD=

# FRONTEND ENVIRONMENT
FRONTEND_PORT=

#API Base URL setting for frontend
VITE_API_BASE_URL=