.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: rgb(70, 67, 65);
  text-decoration: underline;
}

p.bcds-footer--copyright {
  font-size: 14px !important;
}

.breadcrumb-link {
  color: #255a90;
  text-decoration: underline;
}

.query-results {
  thead tr {
    background-color: #dddddd;
  }
  tbody tr {
    background-color: #eeeeee;
  }
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  color: #255a90;
  cursor: pointer;
  font: inherit;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.link-button:hover {
  text-decoration: underline;
}