name: Frontend Image Build & Push

# Restrict GITHUB_TOKEN to read-only access
permissions:
  contents: read # Needed to check out the repository

on:
  pull_request:
    types:
      - closed # Triggered by closed pull requests.
    branches:
      - main # Only run on the main branch.
    paths:
     - 'frontend/**' # Triggers on changes to files in the frontend/ directory.
     - '.github/**'  # Also trigger if any workflow file is changed.

jobs:
  Build-Push:
    if: github.event.pull_request.merged == true # Only run if the pull request was merged
    environment: dev
    runs-on: ubuntu-22.04
    steps:
      # check out the repo
      - name: Checkout Repository
        uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2
        with:
          fetch-depth: 0

      # Login to OpenShift Docker Image Repository
      - name: Login to Openshift Docker
        run : |
          docker login ${{ secrets.PUBLIC_IMAGE_REPOSITORY }} -u ${{ secrets.OPENSHIFT_SA_NAME }} -p ${{ secrets.OPENSHIFT_SA_TOOLS_TOKEN }}

      # Build the app Image and add tag "dbumt-app:<sha>" and "dev"
      - name: Build & Tag frontend Image
        run: |
          cd frontend && docker build . --build-arg VITE_API_BASE_URL="/api" -f Dockerfile -t ${{ secrets.PUBLIC_IMAGE_REPOSITORY }}/${{ secrets.OPENSHIFT_TOOLS_NAMESPACE }}/dbumt-app:${{github.sha}} -t ${{ secrets.PUBLIC_IMAGE_REPOSITORY }}/${{ secrets.OPENSHIFT_TOOLS_NAMESPACE }}/dbumt-app:dev

      # Push the app Image to OpenShift tools namespace imagestream "dbumt-app". The flag `-a` ensures all tags are pushed
      # This will overwrite any existing images in the imagestream with the same tag -> the previous image tagged "dev" will be replaced with this image
      - name: Push Image
        run: |
          docker push -a ${{ secrets.PUBLIC_IMAGE_REPOSITORY }}/${{ secrets.OPENSHIFT_TOOLS_NAMESPACE }}/dbumt-app

      # Get the SHA of the just-pushed image and deploy to dev environment
      - name: Deploy to Dev
        run: | 
          IMAGE_SHA=$(docker inspect --format='{{index .RepoDigests 0}}' ${{ secrets.PUBLIC_IMAGE_REPOSITORY }}/${{ secrets.OPENSHIFT_TOOLS_NAMESPACE }}/dbumt-app:dev)
          oc set image deployment/dbumt-app dbumt-app=$IMAGE_SHA -n ${{ secrets.NAMESPACE }}
          oc rollout status deployment/dbumt-app -n ${{ secrets.NAMESPACE }}
